@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-radio {
  @apply flex items-center ml-2 cursor-pointer;
}

::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-thumb:hover {
  background: #e2e2e2;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #555555 #7a7a7a;
}

* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  @apply appearance-none;
  margin: 0;
}

.no-arrows {
  @apply appearance-none;
}

.rounded-custom {
  border-radius: 33% 67% 35% 65% / 70% 32% 68% 30%;
}

.custom-input-number input[type="number"]::-webkit-outer-spin-button,
.custom-input-number input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-input-number input[type="number"] {
  -moz-appearance: textfield;
}

/* Form styles */
.p-error {
  @apply bg-red-100 py-1 px-2 rounded-md text-center dark:text-dark m-0.5;
}

.btn-fill-animate {
  @apply absolute overflow-hidden;
}
.btn-fill-animate::before {
  content: "";
  @apply absolute left-0 top-0 h-full w-0 rounded transition-all duration-300;
  background-color: #fff;
  opacity: 0.2;
  z-index: 0;
}
.btn-fill-animate:hover::before {
  @apply w-full;
}

.custom-checkbox {
  @apply relative w-5 h-5 border border-gray-400 rounded cursor-pointer top-1;
  appearance: none;
}

.custom-checkbox::after {
  content: "";
  @apply absolute top-1/2 left-1/2 w-3 h-3 bg-second rounded-sm;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
}

.custom-checkbox:checked::after {
  transform: translate(-50%, -50%) scale(1);
}
